@media (max-width:1023px){
  .container .topArea{
    justify-content: space-around;
  }
  .topArea .topAreaMenu{
    margin-left: 0;
  }
  .topArea .topAreaSocial{
    margin-left: 0;
  }
  .mainSection .main{
    justify-content: center;
  }
  .mainSection .mainLeft,
  .mainSection .mainRight{
    flex: 0;
  }
  .mainSection .mainLeft img{
    max-height: 477px;
  }
  .threeItemsSection{
    display: flex;
    justify-content: space-around;
  }
  .threeItemsSection .threeItems{
    width: 100%;
    justify-content: center;
  }
  .threeItems img {
    max-height: 350px;
    width: auto;
  }
  .threeItems .itemOne a,
  .threeItems .itemTwo a,
  .threeItems .itemThree a{
    display: flex;
    justify-content: center;
  }
  .threeItems p{
    max-width: fit-content;
  }
  .videoArea .videoCover{
    width: 608px;
    height: 342px;
  }
  .instagramArea .instagramImages{
    flex-flow: wrap;
    flex: 2;
    justify-content: center;
  }
  .instagramArea .instagramImages a{
    padding: 10px;
  }
  .instagramArea .instagramTitle{
    flex: 1;
    margin-top: 65px;
  }
  .instagramArea .instagramImages img{
    margin: 0px;
    max-width: 200px;
  }
  .instagramTitle .instagramText{
    font-size: 30px;
  }
}

@media (max-width:899px){
  .topArea .topAreaSocial{
    display: none;
  }
  .aboutSection .about{
    flex-flow: column;
  }
  .about .aboutLeft{
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
  .about .aboutRight{
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    padding: 0 40px 0 40px;
    text-align: center;
  }
  .threeItems img{
    max-height: 300px;
  }
  .threeItems p{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .videoSection .videoArea{
    width: 100%;
  }
  .instagramSection .instagramArea{
    flex-flow: column;
  }
  .instagramArea .instagramTitle{
    flex: 0;
    order: 1;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
  }
  .instagramArea .instagramImages{
    flex: 0;
    order: 2;
    margin-top: 50px;
  }
  .instagramArea .instagramImages img{
    max-width: 300px;
  }
}

@media (max-width:767px){
  .mainSection .main{
    flex-flow: column;
  }
  .mainSection .mainLeft{
    display: none
  }
  .mainSection .mainRight{
    margin-top: 0;
  }
  .mainRight .mainRightTop{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  .mainRight .mainRightBottom{
    margin-top: 70px;
    justify-content: center;
  }
  .mainRightBottom .rightBottomRight{
    display: flex;
    align-self: flex-end;
  }
  .threeItemsSection .threeItems{
    flex-flow: wrap;
  }
  .threeItems img{
    max-height: 450px;
  }
  .threeItems .itemThree{
    margin-top: 50px;
  }
  .threeItems p{
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width:719px){
  .container{
    padding-top: 0;
  }
  .container .topArea{
    justify-content: space-between;
    padding: 20px;
    margin: 40px 40px 0px 40px;
  }
  .topAreaMenu .menu ul{
    width: 100%;
    display: none;
    flex-flow: column;
    position: absolute;
    margin-top: 84px;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
  }
  .topAreaMenu .menu li{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000;
  }
  .topAreaMenu .menu a{
    margin-left: 0;
  }
  .sandwichMenu{
    display: flex;
  }
  .mainSection .mainRight{
    margin-left: 0;
  }
  .mainRight .mainRightTop{
    margin-left: 0;
  }
  .mainRight .mainRightBottom{
    flex-flow: column;
    align-items: center;
  }
  .mainRightBottom .rightBottomLeft{
    margin-right: 0;
  }
  .mainRightBottom .rightBottomRight{
    align-self: unset;
    margin-left: 0;
    margin-top: 50px;
  }
  .newsletterForm form{
    display: flex;
  }
  .about .aboutRight{
    padding: 0 60px 0 60px;
    text-align: justify;
  }
  .threeItems .itemTwo{
    margin-top: 50px;
  }
  .videoArea .videoCover{
    width: 368px;
    height: 207px;
  }
  .footerArea .footerAreaCopyright{
    flex-flow: column;
    text-align: center;
  }
  .footerAreaCopyright .credits{
    border-left: none;
  }
}

@media (max-width:424px){
  .container .topArea{
    margin: 15px 0px 0px 0px;
  }
  .newsletterForm form{
    flex-flow: column;
  }
  .newsletter .newsletterForm input{
    margin-left: 0;
  }
  .newsletter .newsletterForm button{
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width:374px){
  .container .topArea{
    margin: 15px 15px 0px 15px;
  }
  .topArea .topAreaLogo a{
    font-size: 15px;
    padding: 5px 20px 5px 20px;
  }
  .threeItems img{
    max-height: 350px;
  }
  .videoArea .videoCover{
    width: 288px;
    height: 162px;
  }
  .instagramArea .instagramImages img{
    max-width: 250px;
  }
  .footerArea .footerAreaCopyright{
    font-size: 10px;
  }
  .footerArea .footerAreaRecreation a{
    font-size: 10px;
  }
  .footerAreaRecreation a svg{
    display: none;
  }
}